html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

#mountPoint {
  min-height: 100vh;
}

@import 'components/App';
@import 'components/SearchForm';
@import 'components/SearchView';
@import 'components/WeatherItem';
@import 'components/ForecastView';
