.search-view {
    align-items: center;
    background-color: white;
    display: flex;
    height: auto;
    justify-content: center;
    left: 0px;
    min-height: 100vh;
    position: absolute;
    top: 0px;
    transition: 0.6s min-height, 0.6s background-color;
    width: 100%;

    &__inner {

    }

    &__logo-wrapper {
        position: relative;
    }

    &__logo-text {
        font-family: sans-serif;
        font-size: 48px;
        margin-bottom: 0px;
        transition: 0.3s font-size;
    }

    &__logo-z {
        left: 0px;
        position: absolute;
        transition: 0.3s opacity;
        top: 0px;

        &:first-child {
            transform: translate(-15px, -5px);
        }

        &:nth-child(2) {
            transform:
                translate(-31px, -10px)
                rotate(40deg);
        }

        &:nth-child(3) {
            transform:
                translate(-40px, -25px)
                rotate(69deg);
        }
    }

    &--as-header {
        background-color: rgba(255, 255, 255, 0.85);
        min-height: 0vh;

        .search-view {
            &__logo-text {
                font-size: 18px;
            }

            &__logo-z {
                opacity: 0;
            }
        }

        .search-form__error-msg {
            color: black;
        }
    }
}