.search-view {
    align-items: center;
    background-color: white;
    display: flex;
    height: auto;
    justify-content: center;
    left: 0;
    min-height: 100vh;
    position: absolute;
    top: 0;
    transition: 0.6s min-height, 0.6s background-color;
    width: 100%;

    &__logo-text {
        font-family: sans-serif;
        font-size: 48px;
        margin-bottom: 0;
        transition: 0.3s font-size;
    }

    &--as-header {
        background-color: rgba(255, 255, 255, 0.85);
        min-height: 0;

        .search-view {
            &__logo-text {
                font-size: 18px;
            }
        }

        .search-form__error-msg {
            color: black;
        }
    }
}
